<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <%= render 'admin/mutters/mutter', mutters: @mutters, users: @users %>
      <div class="mx-auto" style="width: 200px;"><%= paginate @mutters %></div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>