<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render "user/users/left", user: current_user %>
    </div>
    <div class="col-lg-6">
      <h4>
        <strong>
          <i class="far fa-moon"></i>
          全てのユーザー
        </strong>
      </h4>
      <%= render "user/users/list", users: @users %>
      <%= paginate @users, theme: "twitter-bootstrap-4" %>
    </div>
    <div class="col-lg-3">
      <%= render "user/users/right" %>
    </div>
  </div>
</div>