<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render "user/users/left", user: current_user %>
    </div>
    <div class="col-lg-6 px-5">
      <h4><u><strong>全てのつぶやき</strong></u></h4>
      <%= render "user/mutters/mutter", mutters: @mutters, users: @users %>
      <%= paginate @mutters, theme: "twitter-bootstrap-4" %>
    </div>
    <div class="col-lg-3">
      <%= render "user/users/right" %>
    </div>
  </div>
</div>