<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
       <div class="text-center"><%= image_tag "ロゴ.jpg", width: "100%" %></div>
       <p  class="text-center">ideal selfはボディメイクを頑張る全ての人の為のSNSサイトです<i class="fas fa-users"></i></p>
       <p class="text-center">体重・体脂肪率・筋肉量・ウエストを記録することができます。</p>
       <p class="text-center">同じように頑張っている仲間と励まし合ったり情報を得たりしながら</p>
       <p class="text-center">楽しくモチベーションを維持して理想の自分を目指しましょう<i class="fas fa-gem"></i></p>
       <div class="text-center">
         <%= link_to "新規登録ページ", new_user_registration_path, class: "btn btn-outline-secondary m-4" %>
         <%= link_to "ログインページ", new_user_session_path, class: "btn btn-outline-secondary m-4" %><br>
         <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-outline-secondary sign_in", method: :post %>
       </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
  </div>
</div>