<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <%= render "admin/users/user", users: @users %>
      <%= paginate @users, theme: "twitter-bootstrap-4" %>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>