<nav class="navbar navbar-expand-sm navbar-light">
  <div class="collapse navbar-collapse" id="Navber">
    <ul class="navbar-nav ml-auto">
      <li class="m-1">
        <%= link_to new_admin_session_path do %>
        <p class="small"><i class="fas fa-wrench"></i></p><% end %>
      </li>
    </ul>
  </div>
</nav>